<!DOCTYPE HTML>
<html>
<head>
  <title>JsonEditor</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link href="../lib/jsoneditor/jsoneditor.css" rel="stylesheet" type="text/css">
  <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../css/jsoneditor-client.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper" class="container myeditor">
  <% if (descriptor && descriptor.title) { %>
  <div class="row">
    <div class="col-md-12">
      <h1 id="title"><%= descriptor.title %></h1>
    </div>
  </div>
  <% } %>

  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <select id="jsoneditorTextList" class="form-control"></select>
        <div id="actionButtons" class="form-group"><% if (descriptor && descriptor.loadAction) {
          var option = descriptor.loadAction;
          var style = option.style ? ('btn-' + option.style) : 'btn-primary'; %>
          <button class="btn <%=style%> loadButton" type="button" data-toggle="tooltip" data-container="body" data-placement="bottom" title="<%= descriptor.loadAction.description || 'Load/Reload the document' %>" id="<%= descriptor.loadAction.value || 'load' %>"><%= descriptor.loadAction.label || 'Load' %></button>
        <% } %></div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="jsoneditor"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="submitButtons"><%
      if (descriptor && descriptor.submitAction) {
        descriptor.submitAction.options = descriptor.submitAction.options || {};
        descriptor.submitAction.options.forEach(function(option) {
          var pullRight = (option.align == 'right') ? ' pull-right' : '';
          var style = option.style ? ('btn-' + option.style) : 'btn-default'; %>
        <button class="btn <%=style%> submitButton <%=pullRight%>" type="button" data-toggle="tooltip" data-container="body" title="<%=option.description%>" id="<%=option.value%>"><%=option.label%></button>
        <%
        })
      } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="messageBox" class="well"></div>
    </div>
  </div>
</div>

<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/jsoneditor/jsoneditor.js"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/jsoneditor-client.js"></script>
<script src="js/jsoneditor-loader.js"></script>
</body>
</html>
